<app-app-title title="Rooms"></app-app-title>

<div class="flex flex-row gap-10 pt-4 w-full flex-wrap justify-evenly">
  <div class="flex flex-row flex-wrap" *ngFor="let room of user?.rooms">
    <app-room-item [room]="room" [uid]="uid"></app-room-item>
  </div>

  <button
    (click)="
      storeService.roomsAddScreenVisible = !storeService.roomsAddScreenVisible
    "
    class="flex flex-col w-72 h-[340px] border-4 border-gray-300 border-dashed p-4 rounded-xl gap-4 hover:bg-gray-50 text-gray-400 items-center justify-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-12 w-12"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 6v6m0 0v6m0-6h6m-6 0H6"
      />
    </svg>
    <span class="mt-2 block text-base font-medium text-gray-900">
      Add a room
    </span>
  </button>
</div>
<app-room-add
  [@openCloseAnimation]="storeService.roomsAddScreenVisible"
  *ngIf="storeService.roomsAddScreenVisible"
></app-room-add>

<app-toast
  @openCloseAnimation
  *ngIf="storeService.toast"
  [success]="storeService.roomsHandleSuccess"
  [title]="storeService.roomsHandleTitle"
  [body]="storeService.roomsHandleBody"
></app-toast>

<app-loader *ngIf="storeService.roomsHandleLoading"> </app-loader>
