<div class="h-full overflow-y-scroll">
  <div
    class="flex flex-col w-full items-center justify-center bg-gray-100 rounded-r-3xl gap-4 p-12"
  >
    <div
      class="flex flex-row w-full max-w-5xl bg-white p-12 rounded-3xl items-center"
    >
      <div class="flex flex-col w-full gap-4">
        <span class="block text-3xl font-bold text-gray-900">
          Re-connect your Square Account
        </span>
        <span class="text-lg font-medium text-gray-600">
          Login to your square account with your credentials and link it to
          Square Hotels.
        </span>
        <div>
          <a
            class="inline-flex justify-center items-center py-3 px-5 border border-gray-300 rounded-xl shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 gap-4"
          >
            <span class="sr-only">Continue with Square</span>
            <img class="w-5 h-5" src="assets/logos/square-black.svg" alt="" />
            <span class="text-base font-semibold text-gray-700"
              >Re Auth with Square</span
            >
          </a>
        </div>
      </div>
    </div>

    <div
      class="flex flex-row w-full max-w-5xl bg-white p-12 rounded-3xl items-center gap-24"
    >
      <div class="flex flex-col w-full gap-4">
        <span class="block text-3xl font-bold text-gray-900">
          Your Hotel Name
        </span>
        <div class="flex flex-row gap-4 w-full">
          <div class="flex rounded-md shadow-sm w-full">
            <span
              class="flex w-full items-center px-5 py-3 rounded-xl border border-gray-300 bg-gray-50 text-gray-500 text-base font-semibold"
            >
              {{ hotel }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex flex-row w-full max-w-5xl bg-white p-12 rounded-3xl items-center gap-24"
    >
      <div class="flex flex-col w-full gap-4">
        <span class="block text-3xl font-bold text-gray-900">
          Domain Name
        </span>
        <div class="flex flex-row gap-4 w-full">
          <div class="flex rounded-md shadow-sm w-full">
            <span
              class="flex w-full items-center px-5 py-3 rounded-xl border border-gray-300 bg-gray-50 text-gray-500 text-base font-semibold"
            >
              {{ domain }}.square-hotel.pages.dev
            </span>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="!loading"
      class="flex flex-col w-full max-w-5xl bg-white p-12 rounded-3xl items-center gap-4"
    >
      <span class="block text-3xl font-bold text-gray-900">
        Business Location
      </span>
      <div class="flex flex-row gap-4 items-start">
        <div class="mt-1">
          <select
            [(ngModel)]="selectedLocation"
            id="bedType"
            name="bedType"
            class="w-96 block focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-xl py-3 px-5"
          >
            <option
              class="px-4"
              *ngFor="let type of locationList"
              [ngValue]="type"
            >
              {{ type.businessName }}
            </option>
          </select>
        </div>
        <div>
          <button
            (click)="saveLocation()"
            class="inline-flex justify-center items-center py-3 px-5 border border-gray-300 rounded-xl shadow-sm text-sm font-medium gap-4 bg-indigo-600 hover:bg-indigo-700 disabled:opacity-50 disabled:hover:bg-indigo-600 disabled:cursor-not-allowed"
          >
            <span class="sr-only">Save</span>
            <span class="text-base font-semibold text-white">Save</span>
          </button>
        </div>
      </div>
      <div class="border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Address Line 1</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ selectedLocation.address.addressLine1 }}
            </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Locality</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ selectedLocation.address.locality }}
            </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">
              Administrative District
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ selectedLocation.address.administrativeDistrictLevel1 }}
            </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Postal Code</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ selectedLocation.address.postalCode }}
            </dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Country</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ selectedLocation.address.country }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
<app-loader @openCloseAnimation *ngIf="loading"></app-loader>
<app-toast
  @openCloseAnimation
  *ngIf="storeService.toast"
  [success]="toastSuccess"
  [title]="toastTitle"
  [body]="toastBody"
></app-toast>
